#circuitos{
    max-width: 45%;
    border:5px solid#000;
    border-radius: 20px;
    margin: 5%;
    /* margin-left: 17px;
    margin-right: 17px; */
    padding: 6%;
    font-size: 30px;
    display: inline-block;
    box-sizing:border-box;
    text-align: left;
}

#circuits{
    background-image: url(https://www.formula1.com/etc/designs/fom-website/images/patterns/gray3-x1.png);
    background-size: auto;
}
