#resultados, li {
    list-style:none;
    text-align: justify;
  }  
#tituloResultados {
  text-align: left;
  font-size:5vw;
}
#resultados {
    background-image: url(https://www.formula1.com/etc/designs/fom-website/images/patterns/gray3-x1.png);
    background-size: auto;
}
img#premio {
  
  justify-content: auto;
  align-items: center;
  width: 250px;
  max-width: 100%;
  height: auto;
 
}
#posicion1 #posicion2 #posicion3{
  background-color: aqua;
}
