#circuitos{
    max-width: 45%;
    border:5px solid#000;
    border-radius: 20px;
    margin: 5%;
    /* margin-left: 17px;
    margin-right: 17px; */
    padding: 6%;
    font-size: 30px;
    display: inline-block;
    box-sizing:border-box;
    text-align: left;
}



#circuits{

    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top: solid 10px #e10600;
    border-right: solid 10px #e10600;
    border-bottom: solid 10px #e10600;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
