#circuitos{
    max-width: 35%;
    border:5px solid#000;
    border-radius: 20px;
    margin: 80px;
    margin-left: 170px;
    margin-right: 170px;
    padding: 40px;
    font-size: 30px;
    display: inline-block;


    
}

#circuits{

    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top: solid 10px #e10600;
    border-right: solid 10px #e10600;
    border-bottom: solid 10px #e10600;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}
