#logoF1{
    width:250px;
    height: 50px;
}

.barrainicio{
    text-align: center;
    
}



#titulos{
    list-style: none;
    display: flex;
    background-color: red;
    text-align: center;
}



#titulos li a{
    text-align: none;
    color:#fff;
    margin: 0 15px;
    padding: auto;
    transition: .5s;
    text-decoration: none;
}

#buscarF1{
    background-color: red;
    padding: 10px;
}

.hamburguesa{
    display: none;
    cursor: pointer;
}

h2{
    font-size: 50px;
}

#pilotos{
    font-size: 30px;
    list-style: none;
    text-align: center;
}

@media screen and (max-width:980px){
    #titulos{
        display: none;
    }
    .hamburguesa{
        display:block;
    }
    #titulos{
        display: block;
        position: absolute;
        right:0;
        top: 75px;
        background-color: red;
        width: 180px;
        display: block !important;
    }
    #titulos li{
        border-bottom: 1px solid #fff;
        padding: 10px 0;
    }
}
