#resultados {
    border:5px solid red;
    border-radius: 20px;
  }

#resultados, li {
    list-style:none;
   
  
}

#copa1{
    width: 200px;
    padding: 10px;
    height: 10%;
    display: flex;
    text-align: center;
    display: flex;
       
}
#copa2{
  width: 200px;
  padding: 10px;
  height: 10%;
  display: flex;
  text-align: center;
  display: flex;
     
}
#copa3{
  width: 200px;
  padding: 10px;
  height: 10%;
  display: flex;
  text-align: center;
  display: flex;
     
}



